.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.stripe-header{
  color: #6772e5 !important;
}

.ui.vertical.menu .active.item{
  font-weight: bold;
  color: #6772e5;
}

.ui.dimmer .ui.loader:before{
  border-color: rgba(128, 128, 128, 0.33);
}

.ui.dimmer .ui.loader:after{
  border-color: #505050 transparent transparent;
}

.ui.container{
  width: 1260px !important;
}

.ReactTable .rt-thead{
    font-size: 15px;
    font-weight: bold;
    background-color: #f1f5f9;
    color: #32325d;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
